<% if @event_instances %>
 <% @event_instances.each do |event| %>
   <div class="row">

      <div class= "col-md-9">
        Event: <%= link_to event.name , event.url%> <br>
        Date: <%= event.start_time.strftime("%b %d, %Y") %><br>
        Venue: <%= event.venue %><br>
      </div>

      <div class= "col-md-3">
        <% if current_user %>
          <%= form_tag add_event_path(current_user.id), method: :patch do %>
          <%= hidden_field_tag :event_id, event.id %>
          <%= submit_tag "Add to your events" , class: 'btn btn-warning'%>
          <% end %>
        <% end %>
      </div>

    </div>
    <hr>
  <% end %>
  <% if @event_instances.empty? %>
  <p>Sorry, that search term did not return any results, go make your own fun!</p>
  <% end %>
<% end %>
