<% if current_user %>

  <h1>Search term:</h1>
  <%= form_tag '/search' do %>
    <%= label_tag :term %>
    <%= text_field_tag :term %>

    <%= submit_tag "Find Events"%>
  <% end %>
<% end %>

<h1>Add a favorite search term:</h1>
<%= form_tag favorite_path(current_user.id) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :category %>
  <%= text_field_tag :category %>
  <%= hidden_field_tag :user_id , value: current_user.id %>

  <%= submit_tag "Add favorite search term."%>
<% end %>





<%= @response %>
