<div class="container">
  <% if @user_events %>
    <h2>Your saved events:</h2><br>
    <% @user_events.each do |event| %>
      <div class="row">

        <div class= "col-md-5">
          Event: <%= link_to event.name , event.url%> <br>
          Date: <%= event.start_time.strftime("%b %d, %Y") %><br>
          Venue: <%= event.venue %><br>
        </div>

        <div class= "col-md-1"></div>

        <div class= "col-md-6">
          <%= form_tag delete_event_path(current_user.id), method: :delete do %>
          <%= hidden_field_tag :event_id, event.id %>
          <%= submit_tag "Delete" , class: 'btn btn-danger'%>
          <% end %>
        </div>

      </div>
      <hr>
    <% end %>
  <% end %>
</div>
