<!DOCTYPE html>
<html>
<head>
  <title>GetOut</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="container">
  <nav class="navbar navbar-inverse">
    <div class="nav-right">
    <% if current_user %>
    <h1><%= link_to "GET OUT!", search_favorites_path(current_user.id) %></h1>
    <% else %>
    <h1> Get Out! </h1>
    <% end %>
      <ul class="nav navbar-nav nav-pills ">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Welcome, #{ current_user.name }", user_events_path(current_user.id)%></li>
          <li><%= link_to "Your Search Terms", favorite_path(current_user.id) %> </li>
          <li><%= link_to "Your Events", user_events_path(current_user.id) %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Log In", '/auth/spotify'%></li>
        <% end %>
        <li class="search">
          <%= form_tag '/search' do %>
          <%= text_field_tag :term %>
          <%= submit_tag "Find Events"%>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

<%= yield %>
</main>


</body>
</html>
